<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fertilizers">
        <activity
            android:name=".FertCalculator"
            android:exported="false" />

        <receiver
            android:name=".Notification"
            android:enabled="true" />

        <activity
            android:name=".SchedulingActivity"
            android:exported="false" />
        <activity
            android:name=".ToDoActivity"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".ListFertilizers"
            android:exported="false" />
        <activity
            android:name=".DeleteActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateActivity"
            android:exported="false" />
        <activity
            android:name=".AddActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>